<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
    <div class="alert alert-info" id="panel panel-item" >
        <h1>@ViewBag.title</h1>
    </div>
    <a asp-action="Index" asp-controller="PlayersMvcWebApi" class="btn btn-primary">Click here to Check the list Once</a>
</body>
</html>